@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: all 0.2s;
}

.card:hover {
  box-shadow: #1E1E1E -5px 5px;
  transform: translate(5px, -5px);
}

.project-img {
  transition: all 0.3s;
}

.card-project:hover .project-img {
  box-shadow: #3060B7 -20px 20px;
  transform: translate(20px, -20px);
}

@media (max-width: 768px) {
  .card:hover {
    transform: translate(0, 0);
    box-shadow: none;
  }

  .card-project:hover .project-img {
    box-shadow: none;
    transform: translate(0, 0);
  }

  .card-project:active .project-img {
    box-shadow: #3060B7 -20px 20px;
    transform: translate(20px, -20px);
  }
  
}